{% extends "admin_dashboard_base.html" %}
{% block body %}
<div class="container">
	{% if is_resident %}
	<h3>Managing Guests for {{entrant.fname}} {{entrant.lname}}</h3><br>
	<label>Unit: </label> {{entrant.unit_id}} <br>
	<label>Username: </label> {{entrant.username}} <br>
	{% else %}
	<h3> Guest: {{entrant.fname}} {{entrant.lname}} </h3>
	{% endif %}
	<label>Drives:</label><br>
	<ul>
		{% for car in cars %}
		<li> <a href="edit_car?s={{car.state}}&l={{car.plate_num}}">
				{{car.plate_num}}</a>: {{car.color}} {{car.make}} {{car.model}} </li>
		{% endfor %}
	</ul>
	{% if is_resident %}
	<hr>
	<h4>Add a Guest</h4>
	<form method="POST" class="form-horizontal" role="form">
		<input class="form-control" name="eid" id="eid" type="hidden" value="{{entrant.entrant_id}}">
		  <div class="form-group">
			<label class="control-label col-sm-2" for="fname">First Name:</label>
			<div class="col-sm-10">
			  <input class="form-control" name="fname" id="fname" placeholder="First Name">
			</div>
		  </div>
		  <div class="form-group">
			<label class="control-label col-sm-2" for="lname">Last Name:</label>
			<div class="col-sm-10">
			  <input class="form-control" name="lname" id="lname" placeholder="Last Name">
			</div>
		  </div>
		  <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-primary">Add Guest</button>
			</div>
		  </div>
	</form>
	<hr>
	<h4>Current Guests</h4>
		<ul>
			{% for guest in guests %}
				<li>{{guest.fname}} {{guest.lname}}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}

{% block js_hooks %}
<script>
	//$.fn.bootstrapSwitch.defaults.onText = ' ';
	//$("[type='checkbox']").bootstrapSwitch();

</script>
{% endblock %}
