{% macro display_cars(cars) -%}
<div class="container">
	<form class="form-horizontal" role="form" method="post" action="cars">
		<div class="form-group">
			<h3>Cars</h3>

			<div class="col-sm-11">
				{% for car in cars %}
				<div class="well">
					<h4> {{car.make}} {{car.model}} </h4>
					<label> License Plate No: </label> {{ car.plate_num}} <br>
					<label> Color: </label> {{ car.color }} <br>
					{% if car.spot_number %}
						<label> Current spot: </label> {{car.spot_number}} <br>
					{% endif %}
					<label> Default spot: </label> {{car.default_spot}} <br>
					<label>	Drivers: </label>
					<ul>
						{% for driver in car.drivers %}
							<li> {{ driver.fname }} </li>
						{% endfor %}
					</ul>
					{% if car.spot_number %}
					<label class="active">
						<input type="checkbox" name="{{car.plate_num}} {{car.state}}" {% if car.is_requested %} checked {% endif %}>
					</label>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			<div class="form-group">
				<div class="col-sm-10">
			  		<button type="submit" class="btn btn-primary">
						Update Requests
					</button>
        		</div>
      		</div>
		</div>
	</form>
</div>
{%- endmacro %}
