{% extends "base.html" %}
{% block body%}
	<div class="container">
		<h1> Welcome to BMS! </h1>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="thumbnail">
					  <div class="caption">
						<h3>Residents</h3>
						<p>Log in to manage guests, request cars, and browse the building's service providers!</p>
						<br>
						<p><a href="/login/residents" class="btn btn-primary" role="button">Resident Login</a> </p>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
					  <div class="caption">
						<h3>Admins</h3>
						<p>Manage entrants, see vehicle requests, and sign in quests. The building is at your fingertips!</p>
						<p><a href="/login/admins" class="btn btn-primary" role="button">Admin Login</a> </p>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="thumbnail">
					  <div class="caption">
						<h3>Businesses</h3>
						<p>
							Advertise your services to buildings!
						</p>
						<br><br>
						<p><a href="/login/businesses" class="btn btn-primary" role="button">Business Login</a> </p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
